@import "roboto";

//Theme config

$white: #ffffff;
$dark-orange: #d65527;
$light-orange: #f8af33;
$light-grey: #cccccc;
$black: black;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3 {
  font-family: Roboto;
  text-align: center;
  margin-bottom: 0.8em;
  margin-top: 0.3em;
  color: $white;
}

h1 {
  font-size: clamp(2.1em, 5vw, 4em);
  margin-bottom: 0.4em;
  font-weight: 900;
}

ul,
li {
  list-style-position: inside;
  margin-top: 0.8em;
}

a {
  color: $white;
}

button[type="button"] {
  background-color: $dark-orange;
  color: $white;
  width: 100%;
  padding: 15px;
  margin: 15px 0;
  box-sizing: border-box;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  height: 100%;
  border: 4px solid $dark-orange;
}

input,
input[type="submit"],
select {
  border-color: $dark-orange;
  border-radius: 100em;
  border-width: 4px;
  border-style: solid;
  width: 100%;
  padding: 15px;
  margin: 15px 0;
  box-sizing: border-box;
  font-size: 1em;
  -webkit-appearance: none;

  &::placeholder {
    color: $light-grey;
    font-style: italic;
  }
}

select {
  color: $light-grey;
}

//Hilfsklassen
.blackColor {
  color: $black;
}
.greyColor {
  color: $light-grey;
}
.circle {
  background-color: $dark-orange;
  border-radius: 100%;
  position: fixed;
  top: 1.5em;
  right: 3vw;
  padding: 1em;
  z-index: 3;
}



//Main App
#app {
  background: linear-gradient(
      110deg,
      $white 10em,
      $dark-orange 10em,
      $dark-orange 12em,
      $light-orange 12em
    )
    no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  header {
    margin-bottom: -35vh;

    img:nth-of-type(2) {
      margin-top: -3em;
      margin-left: 4em;
    }

    img:nth-of-type(1) {
      z-index: 3;
      position: relative;
    }
  }

  form {
    margin: 2em;
  }

  input[type="submit"] {
    background-color: $dark-orange;
    color: $white;
    font-weight: 700;
  }

  .toggle {
    height: 3em;
    display: flex;
    padding: 0 2em;
    margin-bottom: 3em;

    button[type="button"]:nth-child(1) {
      border-radius: 100em 0 0 100em;
      margin-right: -1px;
    }

    button[type="button"]:nth-child(2) {
      border-radius: 0 100em 100em 0;
      background-color: $light-orange;
    }

    img {
      height: 2em;
    }
  }

  .songs {
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
      font-size: 1em;
      margin-bottom: 1em;

      img {
        height: 1.4em;
        width: auto;
      }
    }
  }

  #play {
    display: none;
  }

  .impressum {
    text-align: center;
    margin-bottom: 2em;
  }
}

//Tobi Dashboard
.ag-theme-alpine {
  --ag-alpine-active-color: #d65527 !important;
  --ag-background-color: #f8af33 !important;
  --ag-odd-row-background-color: #e0842e !important;
  --ag-row-hover-color: #ffc46b !important;
  --ag-foreground-color: white !important;
  --ag-header-foreground-color: #d65527 !important;
  --ag-font-size: 14px !important;
  --ag-font-family: Roboto !important;
  --ag-borders: none !important;
  --ag-row-border-style: solid !important;
  --ag-row-border-width: 1.3px !important;
  --ag-row-border-color: white !important;
}

.ag-header-icon {
  color: #cccccc !important;
}

#tobi-view {
  background: $light-orange
    linear-gradient(
      120deg,
      $white 2em,
      $dark-orange 2em,
      $dark-orange 4em,
      $light-orange 4em
    )
    no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-attachment: fixed;
  overflow: hidden;

  #Logo {
    width: 20vw;
    margin-top: 1em;
    margin-bottom: 0.2em;
  }

  .back {
    width: 2.4vw;
    height: auto;
  }

  #controll-Holder {
    align-self: flex-start;
    display: flex;
    padding: 0 5vw;
    flex-wrap: wrap;
  }

  input,
  select {
    width: max(20vw, 160px);
    padding: 10px;
    font-size: 17px;
    margin-right: 0.3em;
  }

  button[type="button"] {
    width: max(13vw, 160px);
    border-radius: 100em;
    font-size: 17px;
  }

  .cellDiv {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    .play {
      height: 90%;
    }
  }
}

//Impressum
#impressum {
  padding: 3em 1em 1em;
  background: $light-orange
    linear-gradient(
      120deg,
      $white 2em,
      $dark-orange 2em,
      $dark-orange 4em,
      $light-orange 4em
    )
    no-repeat;
  color: $white;

  p,
  ul {
    padding-left: 5vw;
    padding-right: 4vw;
    text-align: inherit;
  }

  h1:nth-of-type(2) {
    margin-top: 3em;
  }

  h2,
  h3 {
    margin-top: 1em;
  }

  .back {
    width: 9vw;
    height: auto;
  }
}