@import "roboto";

//Theme config

$white: #ffffff;
$dark-orange: #d65527;
$light-orange: #f8af33;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}

img,
picture svg {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3 {
  font-family: Roboto;
  text-align: center;
  margin-bottom: .8em;
  margin-top: .3em;
}

h1 {
  font-size: clamp(1.9em, 4vw, 3em);
  font-weight: 900;
}

ul li {
  list-style-position: inside;
  margin-top: .8em;
}

a {
  color: $white;
}

//Main App
#app {
  background: url("images/tobi.webp"), linear-gradient(110deg, $white 27%, $dark-orange 27%, $dark-orange 33%, $light-orange 33%) no-repeat;
  min-height: 100vh;


  header {
    margin-bottom: 15em;
  }

  header img {
    width: 100%;
  }

  input,
  button[type="button"] {
    border-color: $dark-orange;
    border-radius: 100em;
    border-width: 4px;
    border-style: solid;
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    box-sizing: border-box;
  }

  form {
    margin: 2em;
  }

  button[type="button"] {
    background-color: $dark-orange;
  }

  .impressum {
    text-align: center;
    margin-bottom: 2em;
  }

}

//Tobi Dashboard
#tobi-view {
  background: $light-orange linear-gradient(120deg, $white 2em, $dark-orange 2em, $dark-orange 4em, $light-orange 4em) no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;

  #Logo {
    width: 30vw;
    margin-top: 2em;
    margin-bottom: 4em;
  }

  #content {
    width: 80vw;
    margin-bottom: 5em;
    border-top: 1px solid white;

    &>div {
      color: $white;
      grid-template-columns: 3fr 3fr 3fr 2fr 1fr 1fr;
      display: grid;
      border-bottom: 1px solid white;
      align-items: center;
      padding: 1em 0;
      gap: .2em;

      &>div {
        width: 4vw;
        height: 4vw;
        background-color: $white;
        border-radius: .3rem;
        padding: .5em;
        justify-self: end;

        &:active{
          transform: scale(.9);
        }
      }
    }
  }
}

//Impressum
#impressum {
  padding: 3em 1em 1em;
  background: $light-orange linear-gradient(120deg, $white 2em, $dark-orange 2em, $dark-orange 4em, $light-orange 4em) no-repeat;
  color: $white;

  p,
  ul {
    padding-left: 5vw;
    padding-right: 4vw;
    text-align: inherit;
  }

  h1:nth-of-type(2) {
    margin-top: 3em;
  }

  h2,
  h3 {
    margin-top: 1em;
  }

  .back {
    width: 9vw;
    height: auto;
  }

  .circle {
    background-color: $dark-orange;
    border-radius: 100%;
    position: fixed;
    top: 1.5em;
    right: 3vw;
    padding: 1em;
  }
}
